{% extends "base.html" %}

{% block body %}
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

        <form action="" method="post">{% csrf_token %}

            <div class="text-center">
                <input id="id_title" maxlength="200" name="title" type="text" class="form-control" placeholder="Ask a question. Keep it short and simple." autofocus />
            </div>

            <br/>

            <div class="text-center">
                <textarea cols="40" id="id_body" name="body" rows="10" class="form-control" placeholder="Add a description to the question. Be specific."></textarea>
            </div>

            <br/>

            <div class="text-center">
                {{ form.category }}
            </div>

            <div class="text-right">
                <input type="submit" value="Ask" class="btn btn-primary" />
            </div>

        </form>

    </div>
    <div class="col-sm-3"></div>

{% endblock %}

{% block script %}
    <script>

    $("#top-bar").css({"border-bottom": "dashed", "border-width": "1px", "border-color": "coral"});

    $(document).ready(function() {
        $("#ask-link").css({
            "border-bottom": "solid",
            "border-color": "#FF7F50",
            "color": "#9D9D9D"
        });
        $("#ask-link-icon").css({
            "border-bottom": "solid",
            "border-color": "#FF7F50",
            "color": "#9D9D9D"
        });
    });

    </script>
{% endblock %}
