{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load alpha_extras %}

{% block body %}

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <ul id="stream">
        {% for item, hearted, flagged in queryset %}
            <li>
            <div>
            {% if item.parent %} {# If this item is an answer #}
                <small class="gray">{{ item.parent.title }}</small> <br/>
                <a href="{% url 'answer-detail' item.pk %}" target="_blank" class="post">{{ item }}</a>

                <hr style="margin-bottom: 10px;"/>

                    <div>
                        <ul class="stream-view-option">
                            <li><a href="{% url 'answer-detail' item.pk %}" target="_blank">{{ item.created|naturalday|capfirst }}</a> &bull;</li>
                            <li><a href="{% url 'html-ans-comments' item.pk %}" class="ans-comments-show" data-item-id="{{ item.id }}">{{ item.comments }} comment{{ item.comments|pluralize }}</a></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="text-right stream-post-option">
                            <li><a href="{% url 'answer-heart' item.pk %}" class="heart"><i class="fa fa-heart-o{% if item.id|check_ans_heart:user %} red{% else %} gray{% endif %}"></i></a> &nbsp;</li>
                            <li><a href="#"><i class="fa fa-comment-o"></i></a> &nbsp;</li>
                        </ul>
                    </div>
            {% else %} {# If this item is a question #}
                <a href="{% url 'question-detail' item.pk %}" target="_blank" class="post">{{ item }}</a>

                <hr style="margin-bottom: 10px;"/>

                    <div>
                        <ul class="stream-view-option">
                            <li><a href="{% url 'question-detail' item.pk %}" target="_blank">{{ item.created|naturalday|capfirst }}</a> &bull;</li>
                            <li><a href="{% url 'html-ques-comments' item.pk %}" class="ques-comments-show" data-item-id="{{ item.id }}">{{ item.comments }} comment{{ item.comments|pluralize }}</a> &bull;</li>
                            <li><a href="{% url 'question-detail' item.pk %}" target="_blank">{{ item.answers }} answer{{ item.answers|pluralize }}</a></li>
                        </ul>
                    </div>

                    <div>
                        <ul class="text-right stream-post-option">
                            <li><a href="{% url 'question-heart' item.pk %}" class="heart"><i class="fa fa-heart-o{% if item.id|check_ques_heart:user %} red{% else %} gray{% endif %}"></i></a> &nbsp;</li>
                            <li><a href="#"><i class="fa fa-comment-o"></i></a> &nbsp;</li>
                            <li><a href="{% url 'question-detail' item.pk %}" target="_blank"><i class="fa fa-font"></i></a> &nbsp;</li>
                        </ul>
                    </div>
                {% endif %}
            </div>
            </li>
            {% if not item.parent %}
                <div id="div-for-ques-{{ item.id }}-comments"></div>
            {% endif %}
            {% if item.parent %}
                <div id="div-for-ans-{{ item.id }}-comments"></div>
            {% endif %}
        {% empty %}
            <li>No items yet.</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-3"></div>

{% endblock %}

{% block script %}
    <script>

    $(document).ready(function() {
        $("#stream-link").css("border-bottom", "solid");
        $("#stream-link").css("border-color", "#FF7F50");
        $("#stream-link").css("color", "#9D9D9D");
    });

    </script>
{% endblock %}
